<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>Deposito HTML Template</title>
    
	<!-- Vendors Style-->
	<link rel="stylesheet" href="/css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/skin_color.css">
     
  </head>

<body class="theme-primary">
	
	<!-- The social media icon bar -->
	<div class="icon-bar-sticky">
	  <a href="#" class="waves-effect waves-light btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
	  <a href="#" class="waves-effect waves-light btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
	  <a href="#" class="waves-effect waves-light btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
	  <a href="#" class="waves-effect waves-light btn btn-social-icon btn-youtube"><i class="fa fa-youtube-play"></i></a>
	</div>
	<header class="top-bar">
		<div class="topbar">
		  <div class="container">
			<div class="row justify-content-end">
			  <div class="col-md-4 col-12 d-md-block d-none">
				<div class="topbar-social text-center text-md-start topbar-left">
				  <ul class="list-inline d-md-flex d-inline-block">
					<li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-question-circle"></i> Ask a Question</a></li>
				  </ul>
				</div>
			  </div>
			  <div class="col-lg-8 col-md-8 col-12">
				<div class="topbar-social text-center text-md-right">
				  <ul class="list-inline d-md-flex justify-content-end">
					<li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-envelope"></i> info@eselogistic.com</a></li>
					<li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-phone"></i> +1 (123) 456-7890</a></li>
				  </ul>
				</div>
			  </div>
			 </div>
		  </div>
		</div>

		<nav hidden class="nav-white nav-transparent">
			<div class="nav-header">
				<a href="/" class="brand">
					<img src="../images/eselogo.svg" class="img-fluid" alt=""/>
				</a>
				<button class="toggle-bar">
					<span class="ti-menu"></span>
				</button>	
			</div>								
			<ul class="menu">
				<li><a href="about">About</a></li>
				<li><a href="faqs">faqs</a></li>
				<li class="megamenu">
					<a href="#">Store Location</a>
					<div class="megamenu-content">
						<div class="row">
							<div class="col-lg-3 col-12">
								<ul class="list-group">
									<li><a href="georgia"><i class="ti-arrow-circle-right me-10"></i>Georgia</a></li>
								</ul>
							</div>
							<!-- <div class="col-lg-3 col-12">
								<ul class="list-group">									
									<li><a href="maintenance"><i class="ti-arrow-circle-right me-10"></i>Jefferson</a></li>							
									<li><a href="#"><i class="ti-arrow-circle-right me-10"></i>Pendergrass</a></li>
									<li><a href="#"><i class="ti-arrow-circle-right me-10"></i>Apple Valley</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-12">
								<ul class="list-group">									
									<li><a href="#"><i class="ti-arrow-circle-right me-10"></i>Sells</a></li>
									<li><a href="#"><i class="ti-arrow-circle-right me-10"></i>Duncan Corners</a></li>
									<li><a href="#"><i class="ti-arrow-circle-right me-10"></i>Braseiton</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-12">
								<ul class="list-group">		
									<li><a href="#"><i class="ti-arrow-circle-right me-10"></i>Hoschton</a></li>
								</ul>								
							</div> -->
						</div>
					</div>
				</li>	
				<li>
					<a href="contact_us.html">Contact</a>
				</li>
			</ul>
			<ul class="attributes">
				<li><a href="#" class="toggle-search-fullscreen"><span class="ti-search"></span></a></li>				
			</ul>				
			<div class="wrap-search-fullscreen">
				<div class="container">
					<button class="close-search"><span class="ti-close"></span></button>
					<input type="text" placeholder="Search..." />
				</div>
			</div>
		</nav>
	</header>
	
	<!---page Title --->
	<section class="bg-img pt-150 pb-20" data-overlay="7" style="background-image: url(../images/front-end-img/background/bg-8.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center">						
						<h2 class="page-title text-white">FAQs</h2>
						<ol class="breadcrumb bg-transparent justify-content-center">
							<li class="breadcrumb-item"><a href="#" class="text-white-50"><i class="mdi mdi-home-outline"></i></a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">FAQs</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Page content -->
	
	<section class="py-50 cust-accordion">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="tab-wrapper v1">
						<div class="list">
							<div class="item">
								<div class="tab-btn">
									<a href="#">What services does ESE Logistics offer? <em class="mdi mdi-plus"></em></a>
								</div>
								<div class="tab-content">
									<p>ESE Logistics provides warehousing, freight management, distribution, reverse logistics, and on-demand storage solutions tailored to your business needs.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">Where is ESE Logistics located?  <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>We are headquartered in **Georgia link**, USA, with multiple warehousing facilities nationwide.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#"> How can I request a quote for ESE Logistics services?  <em class="mdi mdi-plus"></em></a></div>
								<div class="tab-content">
									<p>You can request a quote by contacting us via phone, email, or through our online [Quote Request Form](/contact link).</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#"> Can I track my inventory in real-time? <em class="mdi mdi-plus"></em></a></div>
								<div class="tab-content">
									<p>Its origins date back to 45 BC. In fact, his words were randomly extracted from the De finibus bonorum et malorum , a classic of Latin literature written by Cicero over 2000 years ago.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#"> What industries does ESE Logistics serve?   <em class="mdi mdi-plus"></em></a></div>
								<div class="tab-content">
									<p>We serve industries such as retail<br>e-commerce, manufacturing, and healthcare, providing customized logistics solutions for each sector.
									</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn">
									<a href="#">Do you offer international shipping and freight management?  <em class="mdi mdi-plus"></em></a>
								</div>
								<div class="tab-content">
									<p>No, this isn’t possible. We want all of our magazines to be available for all customers. So you have to order the magazine.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">How secure are your warehousing facilities? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p> Our warehouses are equipped with 24/7 security monitoring, climate control, and advanced inventory tracking systems to ensure your products are safe.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">Can I track my inventory in real-time? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>  Yes, we offer real-time tracking and inventory management systems for complete visibility of your stored goods.</p>
								<!-- <ul class="list-unstyled">
									<li>You never have to enter your billing and shipping address again</li>
									<li>Find all of your orders, subscriptions and addresses in your account</li>
									<li>Download invoices of your orders</li>
								</ul> -->
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">What is reverse logistics, and do you provide it? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>The products in our shop can only be ordered online at present and are sent out by Swiss Post.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">Do you also have a physical store?<em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>Reverse logistics involves managing returns, refurbishments, and recycling of products. Yes, we provide end-to-end reverse logistics solutions to streamline the process.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">Do you provide short-term warehousing solutions?<em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>Yes, we offer flexible, short & Long term warehousing solutions for businesses with seasonal or temporary storage needs.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">What makes ESE Logistics different from other logistics providers?  <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>Our tailored solutions, cutting-edge technology, and commitment to excellent customer service set us apart in the logistics industry.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">How do I get started with ESE Logistics? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>Simply reach out to our team via phone or email, and we’ll guide you through the onboarding process based on your specific requirements.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">Can I schedule a tour of your warehouse facilities? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>Yes, we encourage clients to visit our warehouses. Contact us to schedule a tour at a time that suits you.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">What payment options do you accept? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>We accept various payment methods, including credit cards, wire transfers, and electronic payments. Contact us for more details.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">Do you offer same-day or expedited delivery services? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>Yes, we offer expedited and same-day delivery services depending on your location and service needs.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">Can ESE Logistics handle hazardous materials?<em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>We handle specific hazardous materials but comply with all safety and legal requirements. Contact us for further details.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">How do you ensure sustainability in your operations? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p> We adopt eco-friendly practices, including optimizing transportation routes and minimizing waste in warehousing, to promote sustainability.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">What are your warehouse operating hours? <em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p> Our warehouses operate Monday to Friday, from 8 AM to 6 PM, but we offer 24/7 access to clients based on their service agreements.</p>
								</div>
							</div>
							<div class="item">
								<div class="tab-btn"><a href="#">How can I contact ESE Logistics for support or inquiries?<em class="mdi mdi-plus"></em></a> </div>
								<div class="tab-content">
								<p>You can reach us via phone at +1 (123) 456-7890 or email at info@eselogistic.com for all inquiries, support, or to request a quote.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	
	
	
	<footer class="footer_three">
		<div class="footer-top bg-dark3 pt-80">
            <div class="container">
                <div class="row">
					<div class="col-lg-3 col-12">
						<div class="widget">
						<h4 class="footer-title">About</h4>
						<p class="text-capitalize mb-20">Ese Logistic Worldwide is a premier logistics and warehousing provider based in the United States. With a focus on innovation and customer satisfaction, we offer a comprehensive range of services designed to meet the diverse needs of our clients. <br> <br> Our commitment to excellence and continuous improvement ensures that we deliver the highest quality service in the industry.</p>
					</div>
                    </div>
					<div class="col-lg-2 col-12">
						<div class="widget">
							<h4 class="footer-title">Quick Link</h4>
							<ul class="list list-arrow mb-30">
								<li><a href="about">About</a></li>
								<li><a href="contact_us">Contact</a></li>
								<li><a href="location">Location</a></li>
								<li><a href="blog">Blog</a></li>
							</ul>
						</div>
                    </div>											
					<div class="col-lg-4 col-12">
						<div class="widget">
							<h4 class="footer-title">Contact Info</h4>
							<ul class="list list-unstyled mb-30">
								<li> <i class="fa fa-map-marker"></i> 123, Lorem Ipsum, Dummy City, FL-12345 USA</li>
								<li> <i class="fa fa-phone"></i> <span class="me-5">+1 (123) 456-7890 </span> | <span class="ms-5">+1 (123) 456-7890 </span></li>
								<li> <i class="fa fa-envelope"></i> <span class="me-5">info@eselogistic.com </span> | <span class="ms-5">info@eselogistic.com</span></li>
							</ul>
							<div class="social-icons mt-30">
								<ul class="list-unstyled d-flex gap-items-1">
									<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-youtube"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-12">
                        <div class="widget">
                            <h4 class="footer-title">Subscribe</h4>
							<p class="text-capitalize mb-20">Sign Up to our Newsletter and get the latest offers.</p>
                            <div class="mb-20">
								<form class="" action="" method="post">
									<input name="email" required="required" class="form-control" placeholder="Your Email Address" type="email">
									<button name="submit" value="Submit" type="submit" class="btn btn-primary mt-5"> Get notified </button>
								</form>
							</div>
                        </div>
                    </div>
                </div>				
            </div>
        </div>
		<div class="footer-bottom bg-dark3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12 text-md-start text-center"> © <script>document.write(new Date().getFullYear())</script> <span class="text-white">Deposito</span>  All Rights Reserved.</div>
					<div class="col-lg-6 col-md-6 mt-md-0 mt-20">
						<ul class="payment-icon list-unstyled d-flex gap-items-1 justify-content-md-end justify-content-center">
							<li class="ps-0">
								<a href="javascript:;"><i class="fa fa-cc-amex" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="javascript:;"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="javascript:;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="javascript:;"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
							</li>
							<li>
								<a href="javascript:;"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
                </div>
            </div>
        </div>
	</footer>
	
	
	<!-- Vendor JS -->
	<script src="/js/vendors.min.js"></script>	
	<!-- Corenav Master JavaScript -->
    <script src="/corenav-master/coreNavigation-1.1.3.js"></script>
    <script src="/js/nav.js"></script>
	<script src="../assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	
	<!-- Warehouse front end -->
	<script src="/js/template.js"></script>
	
	
	
</body>
</html>
